@model List<ReporterDay.EntityLayer.Entities.Comment>

﻿<section id="blog-comments" class="blog-comments section">

    <div class="container">

        <h4 class="comments-count">0 Yorum</h4>

        @foreach(var item in Model)
        {
        <div id="comment-1" class="comment">
            <div class="d-flex">
                <div class="comment-img"><img src="@item.AppUser.ImageUrl" alt=""></div>
                <div>
                    <h5><a href="">@item.AppUser.Name @item.AppUser.SurName</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Yanıtla</a></h5>
                    <time datetime="2020-01-01">@item.CommentDate.ToString("dd-MMM-yyyy")</time>
                    <p>
                        @item.CommentDetail
                    </p>
                </div>
            </div>
        </div><!-- End comment #1 -->
        }
    </div>

</section>